*.iml
*.ipr
*.iws
.idea
.settings
.classpath
.project
*.log
*.log.zip
bower_components
node_modules
**/typings/*
!**/typings/tsd.d.ts
dist
.sass-cache

*.class

# Package Files #
*.jar
*.war
*.ear

# Maven build target directory
target
# Maven plugin generated temporary directory
overlays
webapp

# any IDE specific configuration
.idea/*
.gradle/
build/
